<!DOCTYPE html>
<html>
<head>
  <title>Piano App</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<style type="text/css">
.container{
	position: relative;
	float: center;
	/*border:5px solid black;*/
}
.white-key{
    width: 50px;
    height: 300px;
    background: white;
	border:2px solid black;
	float: left;
    box-shadow: 10;
}
.black-key{
    width: 30px;
    height: 200px;
    float: left;
    background: black;
}
.white-note{
	position: relative;
	top: 275px;
	font-size: 18px;
	font-weight: bold;
	color: black;
}
.black-note{
	position: relative;
	top: 180px;
	font-size: 16px;
	font-weight: bold;
	color: white;
}
</style>
<body>
	<!-- Navigation -->
	    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	        <div class="container">
	            <!-- Brand and toggle get grouped for better mobile display -->
	            <div class="navbar-header" onclick="setRecord(false);">
	                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                </button>
	                <%= link_to "Play Piano", root_url, class: "navbar-brand" %>
	            </div>
	            <!-- Collect the nav links, forms, and other content for toggling -->
	            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	                <ul class="nav navbar-nav">
	                    <li onclick="setRecord(true);">
	                    	<%= link_to "Create Melodies", pages_record_path %>
	                    </li>
	                </ul>
	            </div>
	            <!-- /.navbar-collapse -->
	        </div>
	        <!-- /.container -->
	    </nav>

	    <!-- Page Content -->
	    <div class="container">

	    	<div class="row">
		    	<div class="col-lg-12 text-center">
		    		<%= yield %>
		    		<div class = "container">
	<audio id="piano_C3" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/C3.wav"></source>
	</audio>
	<audio id="piano_Db3" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/Db3.wav"></source>
	</audio>	
	<audio id="piano_D3" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/D3.wav"></source>
	</audio>	
	<audio id="piano_Eb3" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/Eb3.wav"></source>
	</audio>
	<audio id="piano_E3" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/E3.wav"></source>
	</audio>
	<audio id="piano_F3" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/F3.wav"></source>
	</audio>
	<audio id="piano_Gb3" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/Gb3.wav"></source>
	</audio>
	<audio id="piano_G3" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/G3.wav"></source>
	</audio>
	<audio id="piano_Ab3" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/Ab3.wav"></source>
	</audio>
	<audio id="piano_A3" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/A3.wav"></source>
	</audio>
	<audio id="piano_Bb3" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/Bb3.wav"></source>
	</audio>
	<audio id="piano_B3" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/B3.wav"></source>
	</audio>
	<audio id="piano_C4" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/C4.wav"></source>
	</audio>
	<audio id="piano_Db4" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/Db4.wav"></source>
	</audio>
	<audio id="piano_D4" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/D4.wav"></source>
	</audio>
	<audio id="piano_Eb4" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/Eb4.wav"></source>
	</audio>	
	<audio id="piano_E4" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/E4.wav"></source>
	</audio>
	<audio id="piano_F4" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/F4.wav"></source>
	</audio>
	<audio id="piano_Gb4" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/Gb4.wav"></source>
	</audio>
	<audio id="piano_G4" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/G4.wav"></source>
	</audio>
	<audio id="piano_Ab4" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/Ab4.wav"></source>
	</audio>
	<audio id="piano_A4" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/A4.wav"></source>
	</audio>
	<audio id="piano_Bb4" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/Bb4.wav"></source>
	</audio>
	<audio id="piano_B4" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/B4.wav"></source>
	</audio>
	<audio id="piano_C5" preload="auto">
		<source src="https://raw.githubusercontent.com/Jason-Dwyer/cs121-assignment-2/developer2/sounds/C5.wav"></source>
	</audio>
	<br>
	<br>
	<div id = "C3" class = "white-key" onclick="playNote('piano_C3', 'C3');">
		<p class = "white-note">C</p>
	</div>
	<div id = "Db3" class = "black-key" onclick="playNote('piano_Db3', 'Db3');">
		<p class = "black-note">Db</p>
	</div>
	<div id = "D3" class = "white-key" onclick="playNote('piano_D3', 'D3');">
		<p class = "white-note">D</p>
	</div>
	<div id = "Eb3" class = "black-key" onclick="playNote('piano_Eb3', 'Eb3');">
		<p class = "black-note">Eb</p>
	</div>
	<div id = "E3" class = "white-key" onclick="playNote('piano_E3', 'E3');">
		<p class = "white-note">E</p>
	</div>
	<div id = "F3" class = "white-key" onclick="playNote('piano_F3', 'F3');">
		<p class = "white-note">F</p>
	</div>
	<div id = "Gb3" class = "black-key" onclick="playNote('piano_Gb3', 'Gb3');">
		<p class = "black-note">Gb</p>
	</div>
	<div id = "G3" class = "white-key" onclick="playNote('piano_G3', 'G3');">
		<p class = "white-note">G</p>
	</div>
	<div id = "Ab3" class = "black-key" onclick="playNote('piano_Ab3', 'Ab3');">
		<p class = "black-note">Ab</p>
	</div>
	<div id = "A3" class = "white-key" onclick="playNote('piano_A3', 'A3');">
		<p class = "white-note">A</p>
	</div>
	<div id = "Bb3" class = "black-key" onclick="playNote('piano_Bb3', 'Bb3');">
		<p class = "black-note">Bb</p>
	</div>
	<div id = "B3" class = "white-key" onclick="playNote('piano_B3', 'B3');">
		<p class = "white-note">B</p>
	</div>
	<div id = "C4" class = "white-key" onclick="playNote('piano_C4', 'C4');">
		<p class = "white-note">C</p>
	</div>
	<div id = "Db4" class = "black-key" onclick="playNote('piano_Db4', 'Db4');">
		<p class = "black-note">Db</p>
	</div>
	<div id = "D4" class = "white-key" onclick="playNote('piano_D4', 'D4');">
		<p class = "white-note">D</p>
	</div>
	<div id = "Eb4" class = "black-key" onclick="playNote('piano_Eb4', 'Eb4');">
		<p class = "black-note">Eb</p>
	</div>
	<div id = "E4" class = "white-key" onclick="playNote('piano_E4', 'E4');">
		<p class = "white-note">E</p>
	</div>
	<div id = "F4" class = "white-key" onclick="playNote('piano_F4', 'F4');">
		<p class = "white-note">F</p>
	</div>
	<div id = "Gb4" class = "black-key" onclick="playNote('piano_Gb4', 'Gb4');">
		<p class = "black-note">Gb</p>
	</div>
	<div id = "G4" class = "white-key" onclick="playNote('piano_G4', 'G4');">
		<p class = "white-note">G</p>
	</div>
	<div id = "Ab4" class = "black-key" onclick="playNote('piano_Ab4', 'Ab4');">
		<p class = "black-note">Ab</p>
	</div>
	<div id = "A4" class = "white-key" onclick="playNote('piano_A4', 'A4');">
		<p class = "white-note">A</p>
	</div>
	<div id = "Bb4" class = "black-key" onclick="playNote('piano_Bb4', 'Bb4');">
		<p class = "black-note">Bb</p>
	</div>
	<div id = "B4" class = "white-key" onclick="playNote('piano_B4', 'B4');">
		<p class = "white-note">B</p>
	</div>
	<div id = "C5" class = "white-key" onclick="playNote('piano_C5', 'C5');">
		<p class = "white-note">C</p>
	</div>


</div>
<br>
<br>

<div>
	<button onclick="toggleNotes()">Toggle Note Names</button>
</div>
		    	</div>
	    	</div>
	    	<!-- /.row -->
	    </div>
	    <!-- /.container -->
	  <style>body{padding-top:70px;}</style>
	</body>
	</html>

